.shadows {
    &__first {
        height: 10px;
        border-radius: 0px 0px 12px 12px;
        background: #CACADB;
        margin: 0px 20px;
    }

    &__second {
        height: 10px;
        margin: 0px 40px;
        border-radius: 0px 0px 12px 12px;
        background: #E7E7F2;

    }
}