.container {
    background-color: #eeeff1;
}

.content {
    width: 1110px;
    margin: {
        top: 0;
        bottom: 0;
        left: auto;
        right: auto;
    }
    padding {
        left: 10px;
        right: 10px;
    }
}
