:root {
  font-family: 'sans';
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
  background-color: white;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #242424;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html {
  overflow-y: scroll;
}

body, #root {
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em black);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em black);
}
