@font-face {
    font-family: 'sans';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/sf-pro-text_regular.woff2") format("woff2");
}

@font-face {
    font-family: 'sans-bold';
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/sf-pro-text_bold.woff2") format("woff2");
}

@font-face {
    font-family: 'serif';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/source-serif-pro-400-normal.woff") format("woff2");
}
