@media (prefers-color-scheme: light) {
  :root {
    color: #242424;
    background-color: white;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #e0e0e0;
    background-color: #181818;
  }

  a {
    color: #e0e0e0;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
