@mixin dot {
    display: flex;
    align-items: center;

    &::after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: #E6E6F0;
        margin: 0px 6px;
        border-radius: 50%;

        @media screen and (max-width: 647px) {
            content: none;
        }
    }
}

@mixin dot-2 {
    display: flex;
    align-items: center;

    &::after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: #B3B3BA;
        margin: 0px 6px;
        border-radius: 50%;

        @media screen and (max-width: 647px) {
            content: none;
        }
    }
}