h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: $mainLineHeight;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
    transition: color 0.2s;
}

body {
    @extend %mainFont;
}

img {
    width: 100%;
    height: auto;
    display: block;
}
