$main: #323264;
$alt: #46466E;
$soft: #686887;
$accent: #F0145A;
$active-regular: #24A3FF;
$active-hover: #0085FF;
$active-active: #006CCF;
$bg: #F5F5FA;
$bg-alt: #EDEDF7;
$text: #B3B3BA;
$separator: #E6E6F0;
$gradient: linear-gradient(to top left, #323264 0%, #323264 74%, #A54B5F 100%);
$gradient-soft: linear-gradient(to bottom left, #323264 0%, #323264 51%, #7A425E 100%);
$gradient-red: linear-gradient(to top left, #F0145A 0%, #693264 100%);
$gradient-supersoft: linear-gradient(to bottom left, #323264 0%, #323264 60%, #643E72 100%);
$gradient-red-text: linear-gradient(to right, #F0145A 0%, #EF8080 100%);
$gradient-red-reversed: linear-gradient(to left, #F0145A 0%, #EF8080 100%);
