body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: #727272;
}

a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 164%;
    color: black;
}

@media (max-width: 960px) {
    body {
        font-size: 14px;
    }

    a {
        font-size: 14px;
    }
}
