/* Mobile first */


@media (min-width: 768px) {
    .content {
        width: 768px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .content {
        width: 1024px;
        margin: 0 auto;
    }
}


