body {
    padding: 20px;
}

.post {
    border: 2px solid brown;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
}

.post__image {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.post__info {
    padding: 10px;

}

.post__title {
    margin: 0 0 10px;
    font-size: 36px;
}

.post__title--recent {
    color: red;
}

.post__body {
    margin: 0 0 10px;
}

.post__date {
    font-style: italic;
}
